<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nest.TestData.TestData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nest.TestData.TestData>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9200</value>
            </setting>
            <setting name="DefaultIndex" serializeAs="String">
                <value>nest_test_data</value>
            </setting>
            <setting name="MaximumAsyncConnections" serializeAs="String">
                <value>20</value>
            </setting>
        </Nest.TestData.TestData>
    </userSettings>
</configuration>