body {
	background:url(../images/bg-body.png) top left repeat-x #7692BF;
	font-family: 'Georgia', 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	text-shadow: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.4;
	margin:0;
	padding:0;
}
section#site
{
	margin:auto;
	width:80%;
	max-width:1200px;
	min-height:500px;
	background:url(../images/bg-header.png) top left no-repeat;
}
aside {
	font-family: 'Georgia', serif;
	float:right;
	width:20%;
	margin-top:180px;
	border-left:4px solid black;
}
aside ul {
	list-style:none;
	padding:0;
	margin:0px;
	margin-left:12px;
}
aside ul h4
{

	color:black;
	padding:0;
	margin:0px;
	font-weight:normal;
}
aside ul a {
	color:#C8D3E6;
	text-decoration:none;
	display:block;
	padding:2px;
	width:100%;
	border-radius:5px;
}
aside ul a:hover,
aside ul a.selected {
	background:#C8D3E6;
	color:black;
}
aside ul a.selected {
	background:black;
	color:white !important;
}

section#content {
	clear:both;
	padding-top:20px;
}
article {
	width:78%;
}
article div#content-margin-fix
{
	margin-left:74px;
}
aside#menu
{
	margin-top:0px;
}
pre.prettyprint
{
	border-radius:5px;
}
pre.prettyprint code
{
	font-family: 'Ubuntu Mono', sans-serif;
}
h1 {
	font-size: 24px;
	margin:0;
	padding:0;
}
h2 {
	font-size: 20px;
}
h3 {
	font-weight:bold;
}
article  a {
	text-decoration:none;
	display:inline-block;
	background:#C8D3E6;
	color:black;
	padding:2px;
	border-radius:5px;
}
article  a:hover {
	text-decoration:none;
	display:inline-block;
	background:black;
	color:white;
	padding:2px;
	border-radius:5px;
}
code {
	text-decoration:none;
	display:inline-block;
	background:black;
	color:white;
	padding:2px;
	border-radius:5px;
	font-family: 'Ubuntu Mono', sans-serif;
}