<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule-1" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/introduction.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-2" stopProcessing="true">
          <match url="contributing.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/introduction.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-3" stopProcessing="true">
          <match url="building.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/building.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-4" stopProcessing="true">
          <match url="breaking-changes.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/breaking-changes.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-5" stopProcessing="true">
          <match url="elasticsearch-net/quick-start.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/elasticsearch-net-quick-start.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-6" stopProcessing="true">
          <match url="elasticsearch-net/connecting.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/elasticsearch-net-connecting.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-7" stopProcessing="true">
          <match url="elasticsearch-net/security.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/security.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-8" stopProcessing="true">
          <match url="elasticsearch-net/cluster-failover.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/cluster-failover.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-9" stopProcessing="true">
          <match url="elasticsearch-net/building-requests.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/building-requests.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-10" stopProcessing="true">
          <match url="elasticsearch-net/handling-responses.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/handling-responses.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-11" stopProcessing="true">
          <match url="elasticsearch-net/errors.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/errors.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-12" stopProcessing="true">
          <match url="nest/quick-start.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/nest-quick-start.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-13" stopProcessing="true">
          <match url="nest/connecting.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/nest-connecting.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-14" stopProcessing="true">
          <match url="nest/index-type-inference.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/index-type-inference.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-15" stopProcessing="true">
          <match url="nest/handling-responses.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/nest-handling-responses.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-16" stopProcessing="true">
          <match url="nest/writing-queries.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/writing-queries.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-17" stopProcessing="true">
          <match url="nest/tips-tricks.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/tips-tricks.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-18" stopProcessing="true">
          <match url="nest/core/" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/indexing.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-19" stopProcessing="true">
          <match url="nest/indices/aliases.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/aliasing.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-20" stopProcessing="true">
          <match url="nest/cluster/health.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/health.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-21" stopProcessing="true">
          <match url="nest/search/basics.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/nest-basics.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-22" stopProcessing="true">
          <match url="nest/aggregations/handling.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/handling-aggregations.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-23" stopProcessing="true">
          <match url="nest/core/bulk.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/bulk.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-24" stopProcessing="true">
          <match url="nest/core/delete.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/delete.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-25" stopProcessing="true">
          <match url="nest/core/delete-by-query.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/delete-by-query.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-26" stopProcessing="true">
          <match url="nest/core/get.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/get.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-27" stopProcessing="true">
          <match url="nest/core/multi-get.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/multi-get.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-28" stopProcessing="true">
          <match url="nest/core/update.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/update.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-29" stopProcessing="true">
          <match url="nest/core/search.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/core-search.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-30" stopProcessing="true">
          <match url="nest/core/multi-search.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/multi-search.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-31" stopProcessing="true">
          <match url="nest/core/percolate.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/percolate.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-32" stopProcessing="true">
          <match url="nest/core/count.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/count.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-33" stopProcessing="true">
          <match url="nest/core/more-like-this.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/more-like-this.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-34" stopProcessing="true">
          <match url="nest/indices/analyze.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/analyze.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-35" stopProcessing="true">
          <match url="nest/indices/create-indices.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/create-indices.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-36" stopProcessing="true">
          <match url="nest/indices/delete-indices.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/delete-indices.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-37" stopProcessing="true">
          <match url="nest/indices/open-close.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/open-close.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-38" stopProcessing="true">
          <match url="nest/indices/get-settings.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/get-settings.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-39" stopProcessing="true">
          <match url="nest/indices/get-mapping.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/get-mapping.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-40" stopProcessing="true">
          <match url="nest/indices/put-mapping.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/put-mapping.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-41" stopProcessing="true">
          <match url="nest/indices/delete-mapping.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/delete-mapping.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-42" stopProcessing="true">
          <match url="nest/indices/refresh.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/refresh.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-43" stopProcessing="true">
          <match url="nest/indices/optimize.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/optimize.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-44" stopProcessing="true">
          <match url="nest/indices/flush.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/flush.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-45" stopProcessing="true">
          <match url="nest/indices/snapshot.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/snapshot.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-46" stopProcessing="true">
          <match url="nest/indices/update-settings.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/introduction.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-47" stopProcessing="true">
          <match url="nest/indices/templates.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/templates.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-48" stopProcessing="true">
          <match url="nest/indices/stats.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/stats.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-49" stopProcessing="true">
          <match url="nest/indices/status.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/status.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-50" stopProcessing="true">
          <match url="nest/indices/segments.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/segments.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-51" stopProcessing="true">
          <match url="nest/indices/clear-cache.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/clear-cache.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-52" stopProcessing="true">
          <match url="nest/indices/indices-exists.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/indices-exists.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-53" stopProcessing="true">
          <match url="nest/cluster/state.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/state.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-54" stopProcessing="true">
          <match url="nest/cluster/update-settings.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/update-settings.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-55" stopProcessing="true">
          <match url="nest/cluster/nodes-info.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/nodes-info.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-56" stopProcessing="true">
          <match url="nest/cluster/nodes-stats.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/nodes-stats.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-57" stopProcessing="true">
          <match url="nest/cluster/nodes-shutdown.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/introduction.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-58" stopProcessing="true">
          <match url="nest/search/sort.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/sort.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-59" stopProcessing="true">
          <match url="nest/search/highlighting.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/highlighting.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-60" stopProcessing="true">
          <match url="nest/search/fields.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/fields.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-61" stopProcessing="true">
          <match url="nest/search/script-fields.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/script-fields.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-62" stopProcessing="true">
          <match url="nest/search/preference.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/preference.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-63" stopProcessing="true">
          <match url="nest/search/named-filters.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/introduction.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-64" stopProcessing="true">
          <match url="nest/search/search-type.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/search-type.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-65" stopProcessing="true">
          <match url="nest/search/index-boost.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/index-boost.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-66" stopProcessing="true">
          <match url="nest/search/scroll.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/scroll.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-67" stopProcessing="true">
          <match url="nest/search/explain.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/explain.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-68" stopProcessing="true">
          <match url="nest/search/version.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/version.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-69" stopProcessing="true">
          <match url="nest/aggregations/terms.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/terms-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-70" stopProcessing="true">
          <match url="nest/aggregations/percentiles.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/percentiles-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-71" stopProcessing="true">
          <match url="nest/aggregations/geohash-grid.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/geohash-grid-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-72" stopProcessing="true">
          <match url="nest/aggregations/avg.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/avg-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-73" stopProcessing="true">
          <match url="nest/aggregations/cardinality.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/cardinality-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-74" stopProcessing="true">
          <match url="nest/aggregations/date-histogram.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/date-histogram-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-75" stopProcessing="true">
          <match url="nest/aggregations/date-range.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/date-range-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-76" stopProcessing="true">
          <match url="nest/aggregations/extended-stats.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/extended-stats-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-77" stopProcessing="true">
          <match url="nest/aggregations/filter.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/filter-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-78" stopProcessing="true">
          <match url="nest/aggregations/geo-bounds.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/introduction.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-79" stopProcessing="true">
          <match url="nest/aggregations/geo-distance.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/geo-distance-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-80" stopProcessing="true">
          <match url="nest/aggregations/global.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/global-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-81" stopProcessing="true">
          <match url="nest/aggregations/histogram.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/histogram-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-82" stopProcessing="true">
          <match url="nest/aggregations/ipv4.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/ipv4-range-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-83" stopProcessing="true">
          <match url="nest/aggregations/max.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/max-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-84" stopProcessing="true">
          <match url="nest/aggregations/min.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/min-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-85" stopProcessing="true">
          <match url="nest/aggregations/missing.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/missing-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-86" stopProcessing="true">
          <match url="nest/aggregations/percentile-ranks.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/percentile-ranks-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-87" stopProcessing="true">
          <match url="nest/aggregations/range.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/range-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-88" stopProcessing="true">
          <match url="nest/aggregations/nested.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/nested-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-89" stopProcessing="true">
          <match url="nest/aggregations/reverse-nested.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/reverse-nested-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-90" stopProcessing="true">
          <match url="nest/aggregations/significant-terms.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/significant-terms-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-91" stopProcessing="true">
          <match url="nest/aggregations/stats.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/stats-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-92" stopProcessing="true">
          <match url="nest/aggregations/sum.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/sum-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-93" stopProcessing="true">
          <match url="nest/aggregations/top-hits.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/top-hits-aggregation.html" redirectType="Permanent" />
        </rule>
        <rule name="rule-94" stopProcessing="true">
          <match url="nest/aggregations/value-count.html" />
          <action type="Redirect" url="https://www.elastic.co/guide/en/elasticsearch/client/net-api/1.x/value-count-aggregation.html" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

