root=true

[*]
indent_style = tab
indent_size = 4

[*.cshtml]
indent_style = tab
indent_size = 4

[*.js]
indent_style = space
indent_size = 2

[*.fsx]
indent_style = space
indent_size = 4

[*.markdown]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
