*.userprefs
*.local.xml
*.sln.docstates
*.obj
*.swp
*.exe
*.pdb
*.user
*.aps
*.pch
*.tss
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.nupkg
*.ncrunchsolution
[Bb]in
[Dd]ebug/
test-results
test-results/*
*.lib
*.sbr
*.DotSettings
obj/
[Rr]elease*/
_ReSharper*/
_NCrunch*/
[Tt]est[Rr]esult*

.fake/*
.fake
packages/*
paket.exe
paket-files

build/*
!build/tools
!build/keys
build/tools/*
!build/tools/sn
!build/tools/sn/*
!build/tools/ilmerge
!build/*.fsx
!build/*.fsx
!build/*.ps1
!build/*.nuspec
!build/*.png
!build/*.targets
!build/scripts


/dep/Newtonsoft.Json.4.0.2
!docs/build
docs/node_modules
doc/Help

/src/Nest.Tests.Unit/*.ncrunchproject
*.ncrunchproject
Cache
YamlCache
tests.yaml

*.DS_Store
*.sln.ide

launchSettings.json
# https://github.com/elastic/elasticsearch-net/pull/1822#issuecomment-183722698
*.project.lock.json
project.lock.json
.vs
.vs/*

.idea/
*.sln.iml
/src/.vs/restore.dg
