
/src/ElasticSearch.Tests/bin/Debug/ElasticSearch.Client.dll
/src/ElasticSearch.Tests/bin/Debug/ElasticSearch.Client.pdb
/src/ElasticSearch.Tests/bin/Debug/ElasticSearch.DSL.dll
/src/ElasticSearch.Tests/bin/Debug/ElasticSearch.DSL.pdb
/src/ElasticSearch.Tests/bin/Debug/ElasticSearch.Tests.dll.config
/src/ElasticSearch.Tests/bin/Debug/Fasterflect.dll
/src/ElasticSearch.Tests/bin/Debug/Fasterflect.xml
/src/ElasticSearch.Tests/bin/Debug/HackerNews.Indexer.exe
/src/ElasticSearch.Tests/bin/Debug/HackerNews.Indexer.pdb
/src/ElasticSearch.Tests/bin/Debug/Newtonsoft.Json.dll
/src/ElasticSearch.Tests/bin/Debug/Newtonsoft.Json.pdb
/src/ElasticSearch.Tests/bin/Debug/Newtonsoft.Json.xml
/src/ElasticSearch.Tests/bin/Debug/xunit.dll
/src/ElasticSearch.Tests/bin/Debug/xunit.extensions.dll
/src/ElasticSearch.Tests/bin/Debug/xunit.extensions.xml
/src/ElasticSearch.Tests/bin/Debug/xunit.xml
/src/ElasticSearch.Client/bin/Debug/Fasterflect.dll
/src/ElasticSearch.Client/bin/Debug/Fasterflect.xml
/src/ElasticSearch.Client/bin/Debug/NetReflector.dll
/src/ElasticSearch.Client/bin/Debug/Newtonsoft.Json.dll
/src/ElasticSearch.Client/bin/Debug/Newtonsoft.Json.pdb
/src/ElasticSearch.Client/bin/Debug/Newtonsoft.Json.xml
/src/ElasticSearch.ConsolePlayground/bin/Debug/Fasterflect.dll
/src/ElasticSearch.ConsolePlayground/bin/Debug/Fasterflect.xml
/src/ElasticSearch.ConsolePlayground/bin/Debug/NetReflector.dll
/src/ElasticSearch.ConsolePlayground/bin/Debug/Newtonsoft.Json.dll
/src/ElasticSearch.ConsolePlayground/bin/Debug/Newtonsoft.Json.pdb
/src/ElasticSearch.ConsolePlayground/bin/Debug/Newtonsoft.Json.xml
/src/ElasticSearch.ConsolePlayground/obj/Debug/ResolveAssemblyReference.cache
/src/ElasticSearch.DSL/bin/Debug/Newtonsoft.Json.dll
/src/ElasticSearch.DSL/bin/Debug/Newtonsoft.Json.pdb
/src/ElasticSearch.DSL/bin/Debug/Newtonsoft.Json.xml
/src/ElasticSearch.Tests/bin/Debug/AutoPoco.dll
/src/ElasticSearch.Tests/bin/Debug/Nest.TestData.exe
/src/ElasticSearch.Tests/bin/Debug/Nest.TestData.pdb
/src/ElasticSearch.Tests/bin/Debug/NetReflector.dll
/src/HackerNews.Indexer/bin/Debug/Fasterflect.dll
/src/HackerNews.Indexer/bin/Debug/Fasterflect.xml
/src/HackerNews.Indexer/bin/Debug/NetReflector.dll
/src/HackerNews.Indexer/bin/Debug/Newtonsoft.Json.dll
/src/HackerNews.Indexer/bin/Debug/Newtonsoft.Json.pdb
/src/HackerNews.Indexer/bin/Debug/Newtonsoft.Json.xml
/src/Nest.TestData/bin/Debug/AutoPoco.dll
/src/Nest.TestData/bin/Debug/ElasticSearch.Client.dll
/src/Nest.TestData/bin/Debug/ElasticSearch.Client.pdb
/src/Nest.TestData/bin/Debug/Fasterflect.dll
/src/Nest.TestData/bin/Debug/Fasterflect.xml
/src/Nest.TestData/bin/Debug/Nest.TestData.exe
/src/Nest.TestData/bin/Debug/Nest.TestData.pdb
/src/Nest.TestData/bin/Debug/Nest.TestData.vshost.exe
/src/Nest.TestData/bin/Debug/Nest.TestData.vshost.exe.manifest
/src/Nest.TestData/bin/Debug/NetReflector.dll
/src/Nest.TestData/bin/Debug/Newtonsoft.Json.dll
/src/Nest.TestData/bin/Debug/Newtonsoft.Json.pdb
/src/Nest.TestData/bin/Debug/Newtonsoft.Json.xml
/src/Nest.TestData/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/src/Nest.TestData/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Nest.TestData/obj/x86/Debug/Nest.TestData.csproj.FileListAbsolute.txt
/src/Nest.TestData/obj/x86/Debug/Nest.TestData.exe
/src/Nest.TestData/obj/x86/Debug/Nest.TestData.pdb
/src/Nest.TestData/obj/x86/Debug/ResolveAssemblyReference.cache
/src/ElasticSearch.Client/obj
/src/ElasticSearch.ConsolePlayground/obj
/src/ElasticSearch.Tests/obj
/src/HackerNews.Indexer/obj
/src/Nest.TestData/obj
/src/ElasticSearch.NET.5.0.ReSharper.user
/src/ElasticSearch.NET.userprefs
/src/ElasticSearch.NET.suo
/src/ElasticSearch.Client/bin
/src/ElasticSearch.ConsolePlayground/bin
/src/ElasticSearch.Tests/bin
/src/HackerNews.Indexer/bin
/src/Nest.TestData/bin
/src/ElasticSearch.NET.crunchsolution.local.xml
/src/ElasticSearch.Tests/obj/Debug/ElasticSearch.Tests.csproj.FileListAbsolute.txt
/src/ElasticSearch.Client/ElasticSearch.Client.crunchproject.local.xml
/src/ElasticSearch.ConsolePlayground/ElasticSearch.ConsolePlayground.crunchproject.local.xml
/src/ElasticSearch.Tests/ElasticSearch.Tests.crunchproject.local.xml
/src/HackerNews.Indexer/HackerNews.Indexer.crunchproject.local.xml
/src/Nest.TestData/Nest.TestData.crunchproject.local.xml