trigger:
- master

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - script: ./build.sh test-one skipdocs
    displayName: build and unit test
- job: Windows
  pool:
    vmImage: 'vs2017-win2016'
  steps:
  - script: build.bat canary
    displayName: build and unit test
