<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://www.nuget.org/api/v2/" />
		<add key="Elastic Abstractions CI" value="https://ci.appveyor.com/nuget/elasticsearch-net-abstractions" />
		<add key="AssemblyRewriter" value="https://ci.appveyor.com/nuget/assemblyrewriter" />
		<add key="AssemblyDiffer" value="https://ci.appveyor.com/nuget/assemblydiffer" />
	</packageSources>
</configuration>