<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear /> <!-- ensure only the sources defined below are used -->
		<add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
		<add key="Versioned Clients" value="https://f.feedz.io/elastic/all/nuget/index.json" />
	</packageSources>
</configuration>