<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Elastic Abstractions CI" value="https://ci.appveyor.com/nuget/elasticsearch-net-abstractions" />
		<add key="Versioned Clients" value="https://ci.appveyor.com/nuget/elasticsearch-net" />
	</packageSources>
</configuration>