source https://www.nuget.org/api/v2

group build

    source https://www.nuget.org/api/v2

    nuget FAKE prerelease
    nuget FSharp.Data 
    nuget Newtonsoft.Json

	nuget Octokit
	
    nuget ILRepack 2.0.16
	
    source 
    clitool assembly-rewriter
    
    source 
    clitool assembly-differ
