aside#menu
	ul#top_left_menu
		- if (page.metadata.menusection == 'concepts' )
			h4 - Concepts
			ul
				li: a(class=(page.metadata.menuitem == 'introduction')? "selected" : "", href="/") Introduction
				li: a(class=(page.metadata.menuitem == 'connecting')? "selected" : "", href="/concepts/connecting.html") Connecting
				li: a(class=(page.metadata.menuitem == 'index-type-inference')? "selected" : "", href="/concepts/index-type-inference.html") Type/Index Inference
				li: a(class=(page.metadata.menuitem == 'handling-responces')? "selected" : "", href="/concepts/handling-responces.html") Response handling
				li: a(class=(page.metadata.menuitem == 'writing-queries')? "selected" : "", href="/concepts/writing-queries.html") Writing queries
		- else 
			li: a(href="/") + Concepts
		- if (page.metadata.menusection == 'core' )
			h4 - Core
			ul
				li: a(class=(page.metadata.menuitem == 'index')? "selected" : "", href="/core/") Index
				li: a(class=(page.metadata.menuitem == 'delete')? "selected" : "", href="/core/delete.html") Delete
				li: a(class=(page.metadata.menuitem == 'get')? "selected" : "", href="/core/get.html") Get
				li: a(class=(page.metadata.menuitem == 'multi-get')? "selected" : "", href="/core/multi-get.html") Multi Get
				li: a(class=(page.metadata.menuitem == 'update')? "selected" : "", href="/core/update.html") Update
				li: a(class=(page.metadata.menuitem == 'search')? "selected" : "", href="/core/search.html") Search
				li: a(class=(page.metadata.menuitem == 'multi-search')? "selected" : "", href="/core/multi-search.html") Multi Search
				li: a(class=(page.metadata.menuitem == 'percolate')? "selected" : "", href="/core/percolate.html") Percolate
				li: a(class=(page.metadata.menuitem == 'bulk')? "selected" : "", href="/core/bulk.html") Bulk
				li: a(class=(page.metadata.menuitem == 'count')? "selected" : "", href="/core/count.html") Count
				li: a(class=(page.metadata.menuitem == 'delete-by-query')? "selected" : "", href="/core/delete-by-query.html") Delete By Query
				li: a(class=(page.metadata.menuitem == 'more-like-this')? "selected" : "", href="/core/more-like-this.html") More Like This
		- else 
			li: a(class=(page.metadata.menuitem == 'index')? "selected" : "", href="/core/") + Core
		- if (page.metadata.menusection == 'indices' )
			h4 - Indices
			ul
				li: a(class=(page.metadata.menuitem == 'aliases')? "selected" : "", href="/indices/aliases.html") Aliases
				li: a(class=(page.metadata.menuitem == 'analyze')? "selected" : "", href="/indices/analyze.html") Analyze
				li: a(class=(page.metadata.menuitem == 'create-indices')? "selected" : "", href="/indices/create-indices.html") Create Index
				li: a(class=(page.metadata.menuitem == 'delete-indices')? "selected" : "", href="/indices/delete-indices.html") Delete Index
				li: a(class=(page.metadata.menuitem == 'open-close')? "selected" : "", href="/indices/open-close.html") Open/Close Index
				li: a(class=(page.metadata.menuitem == 'get-settings')? "selected" : "", href="/indices/get-settings.html") Get Settings
				li: a(class=(page.metadata.menuitem == 'get-mapping')? "selected" : "", href="/indices/get-mapping.html") Get Mapping
				li: a(class=(page.metadata.menuitem == 'put-mapping')? "selected" : "", href="/indices/put-mapping.html") Put Mapping
				li: a(class=(page.metadata.menuitem == 'delete-mapping')? "selected" : "", href="/indices/delete-mapping.html") Delete Mapping
				li: a(class=(page.metadata.menuitem == 'refresh')? "selected" : "", href="/indices/refresh.html") Refresh
				li: a(class=(page.metadata.menuitem == 'optimize')? "selected" : "", href="/indices/optimize.html") Optimize
				li: a(class=(page.metadata.menuitem == 'flush')? "selected" : "", href="/indices/flush.html") Flush
				li: a(class=(page.metadata.menuitem == 'snapshot')? "selected" : "", href="/indices/snapshot.html") Snapshot
				li: a(class=(page.metadata.menuitem == 'update-settings')? "selected" : "", href="/indices/update-settings.html") Update Settings
				li: a(class=(page.metadata.menuitem == 'templates')? "selected" : "", href="/indices/templates.html") Templates
				li: a(class=(page.metadata.menuitem == 'stats')? "selected" : "", href="/indices/stats.html") Stats
				li: a(class=(page.metadata.menuitem == 'status')? "selected" : "", href="/indices/status.html") Status
				li: a(class=(page.metadata.menuitem == 'segments')? "selected" : "", href="/indices/segments.html") Segments
				li: a(class=(page.metadata.menuitem == 'clear-cache')? "selected" : "", href="/indices/clear-cache.html") Clear Cache
				li: a(class=(page.metadata.menuitem == 'indices-exists')? "selected" : "", href="/indices/indices-exists.html") Indices Exists
		- else 
			li: a(class=(page.metadata.menuitem == 'aliases')? "selected" : "", href="/indices/aliases.html") + Indices
		- if (page.metadata.menusection == 'cluster' )
			h4 - Cluster
			ul
				li: a(class=(page.metadata.menuitem == 'health')? "selected" : "", href="/cluster/health.html") Health
				li: a(class=(page.metadata.menuitem == 'state')? "selected" : "", href="/cluster/state.html") State
				li: a(class=(page.metadata.menuitem == 'update-settings')? "selected" : "", href="/cluster/update-settings.html") Update Settings
				li: a(class=(page.metadata.menuitem == 'nodes-info')? "selected" : "", href="/cluster/nodes-info.html") Nodes Info
				li: a(class=(page.metadata.menuitem == 'nodes-stats')? "selected" : "", href="/cluster/nodes-stats.html") Nodes Stats
				li: a(class=(page.metadata.menuitem == 'nodes-shutdown')? "selected" : "", href="/cluster/nodes-shutdown.html") Nodes Shutdown
		- else 
			li: a(class=(page.metadata.menuitem == 'health')? "selected" : "", href="/cluster/health.html") + Cluster
		- if (page.metadata.menusection == 'search' )
			h4 - Search
			ul
				li: a(class=(page.metadata.menuitem == 'basics')? "selected" : "", href="/search/basics.html") Basic parameters
				li: a(class=(page.metadata.menuitem == 'sort')? "selected" : "", href="/search/sort.html") Sort
				li: a(class=(page.metadata.menuitem == 'highlighting')? "selected" : "", href="/search/highlighting.html") Highlighting
				li: a(class=(page.metadata.menuitem == 'fields')? "selected" : "", href="/search/fields.html") Fields
				li: a(class=(page.metadata.menuitem == 'script-fields')? "selected" : "", href="/search/script-fields.html") Script Fields
				li: a(class=(page.metadata.menuitem == 'preference')? "selected" : "", href="/search/preference.html") Preference
				li: a(class=(page.metadata.menuitem == 'named-filters')? "selected" : "", href="/search/named-filters.html") Named Filters
				li: a(class=(page.metadata.menuitem == 'search-type')? "selected" : "", href="/search/search-type.html") Search Type
				li: a(class=(page.metadata.menuitem == 'index-boost')? "selected" : "", href="/search/index-boost.html") Index Boost
				li: a(class=(page.metadata.menuitem == 'scroll')? "selected" : "", href="/search/scroll.html") Scroll
				li: a(class=(page.metadata.menuitem == 'explain')? "selected" : "", href="/search/explain.html") Explain
				li: a(class=(page.metadata.menuitem == 'version')? "selected" : "", href="/search/version.html") Version
		- else 
			li: a(class=(page.metadata.menuitem == 'basics')? "selected" : "", href="/search/basics.html") + Search
		- if (page.metadata.menusection == 'facets' )
			h4 - Facets
			ul
				li: a(class=(page.metadata.menuitem == 'handling')? "selected" : "", href="/facets/handling.html") Facet handling
				li: a(class=(page.metadata.menuitem == 'terms')? "selected" : "", href="/facets/terms.html") Terms
				li: a(class=(page.metadata.menuitem == 'range')? "selected" : "", href="/facets/range.html") Range
				li: a(class=(page.metadata.menuitem == 'histogram')? "selected" : "", href="/facets/histogram.html") Histogram
				li: a(class=(page.metadata.menuitem == 'date-histogram')? "selected" : "", href="/facets/date-histogram.html") Date Histogram
				li: a(class=(page.metadata.menuitem == 'filter')? "selected" : "", href="/facets/filter.html") Filter
				li: a(class=(page.metadata.menuitem == 'query')? "selected" : "", href="/facets/query.html") Query
				li: a(class=(page.metadata.menuitem == 'statistical')? "selected" : "", href="/facets/statistical.html") Statistical
				li: a(class=(page.metadata.menuitem == 'term-stats')? "selected" : "", href="/facets/term-stats.html") Terms Stats
				li: a(class=(page.metadata.menuitem == 'geo-distance')? "selected" : "", href="/facets/geo-distance.html") Geo Distance
		- else 
			li: a(class=(page.metadata.menuitem == 'handling')? "selected" : "", href="/facets/handling.html") + Facets
		- if (page.metadata.menusection == 'query' )
			h4 - Query DSL
			ul
				li: a(class=(page.metadata.menuitem == 'text')? "selected" : "", href="/query/text.html") text
				li: a(class=(page.metadata.menuitem == 'bool')? "selected" : "", href="/query/bool.html") bool
				li: a(class=(page.metadata.menuitem == 'boosting')? "selected" : "", href="/query/boosting.html") boosting
				li: a(class=(page.metadata.menuitem == 'ids')? "selected" : "", href="/query/ids.html") ids
				li: a(class=(page.metadata.menuitem == 'custom-score')? "selected" : "", href="/query/custom-score.html") custom_score
				li: a(class=(page.metadata.menuitem == 'custom-boost-factor')? "selected" : "", href="/query/custom-boost-factor.html") custom_boost_factor
				li: a(class=(page.metadata.menuitem == 'constant-score')? "selected" : "", href="/query/constant-score.html") constant_score
				li: a(class=(page.metadata.menuitem == 'dis-max')? "selected" : "", href="/query/dis-max.html") dis_max
				li: a(class=(page.metadata.menuitem == 'field')? "selected" : "", href="/query/field.html") field
				li: a(class=(page.metadata.menuitem == 'filtered')? "selected" : "", href="/query/filtered.html") filtered
				li: a(class=(page.metadata.menuitem == 'flt')? "selected" : "", href="/query/flt.html") flt
				li: a(class=(page.metadata.menuitem == 'flt-field')? "selected" : "", href="/query/flt-field.html") flt_field
				li: a(class=(page.metadata.menuitem == 'fuzzy')? "selected" : "", href="/query/fuzzy.html") fuzzy
				li: a(class=(page.metadata.menuitem == 'has-child')? "selected" : "", href="/query/has-child.html") has_child
				li: a(class=(page.metadata.menuitem == 'match-all')? "selected" : "", href="/query/match-all.html") match_all
				li: a(class=(page.metadata.menuitem == 'mlt')? "selected" : "", href="/query/mlt.html") mlt
				li: a(class=(page.metadata.menuitem == 'mlt-field')? "selected" : "", href="/query/mlt-field.html") mlt_field
				li: a(class=(page.metadata.menuitem == 'prefix')? "selected" : "", href="/query/prefix.html") prefix
				li: a(class=(page.metadata.menuitem == 'query-string')? "selected" : "", href="/query/query-string.html") query_string
				li: a(class=(page.metadata.menuitem == 'range')? "selected" : "", href="/query/range.html") range
				li: a(class=(page.metadata.menuitem == 'span-first')? "selected" : "", href="/query/span-first.html") span_first
				li: a(class=(page.metadata.menuitem == 'span-near')? "selected" : "", href="/query/span-near.html") span_near
				li: a(class=(page.metadata.menuitem == 'span-not')? "selected" : "", href="/query/span-not.html") span_not
				li: a(class=(page.metadata.menuitem == 'span-or')? "selected" : "", href="/query/span-or.html") span_or
				li: a(class=(page.metadata.menuitem == 'span-term')? "selected" : "", href="/query/span-term.html") span_term
				li: a(class=(page.metadata.menuitem == 'term')? "selected" : "", href="/query/term.html") term
				li: a(class=(page.metadata.menuitem == 'terms')? "selected" : "", href="/query/terms.html") terms
				li: a(class=(page.metadata.menuitem == 'top-children')? "selected" : "", href="/query/top-children.html") top_children
				li: a(class=(page.metadata.menuitem == 'wildcard')? "selected" : "", href="/query/wildcard.html") wildcard
				li: a(class=(page.metadata.menuitem == 'nested')? "selected" : "", href="/query/nested.html") nested
				li: a(class=(page.metadata.menuitem == 'custom-filters-score')? "selected" : "", href="/query/custom-filters-score.html") custom_filters_score
				li: a(class=(page.metadata.menuitem == 'indices')? "selected" : "", href="/query/indices.html") indices
		- else 
			li: a(class=(page.metadata.menuitem == 'text')? "selected" : "", href="/query/text.html") + Query DSL
		- if (page.metadata.menusection == 'filter' )
			h4 - Filter DSL
			ul
				li: a(class=(page.metadata.menuitem == 'and')? "selected" : "", href="/filter/and.html") and
				li: a(class=(page.metadata.menuitem == 'bool')? "selected" : "", href="/filter/bool.html") bool
				li: a(class=(page.metadata.menuitem == 'exists')? "selected" : "", href="/filter/exists.html") exists
				li: a(class=(page.metadata.menuitem == 'ids')? "selected" : "", href="/filter/ids.html") ids
				li: a(class=(page.metadata.menuitem == 'limit')? "selected" : "", href="/filter/limit.html") limit
				li: a(class=(page.metadata.menuitem == 'type')? "selected" : "", href="/filter/type.html") type
				li: a(class=(page.metadata.menuitem == 'geo-bbox')? "selected" : "", href="/filter/geo-bbox.html") geo_bbox
				li: a(class=(page.metadata.menuitem == 'geo-distance')? "selected" : "", href="/filter/geo-distance.html") geo_distance
				li: a(class=(page.metadata.menuitem == 'geo-distance-range')? "selected" : "", href="/filter/geo-distance-range.html") geo_distance_range
				li: a(class=(page.metadata.menuitem == 'geo-polygon')? "selected" : "", href="/filter/geo-polygon.html") geo_polygon
				li: a(class=(page.metadata.menuitem == 'has-child')? "selected" : "", href="/filter/has-child.html") has_child
				li: a(class=(page.metadata.menuitem == 'match-all')? "selected" : "", href="/filter/match-all.html") match_all
				li: a(class=(page.metadata.menuitem == 'missing')? "selected" : "", href="/filter/missing.html") missing
				li: a(class=(page.metadata.menuitem == 'not')? "selected" : "", href="/filter/not.html") not
				li: a(class=(page.metadata.menuitem == 'numeric-range')? "selected" : "", href="/filter/numeric-range.html") numeric_range
				li: a(class=(page.metadata.menuitem == 'or')? "selected" : "", href="/filter/or.html") or
				li: a(class=(page.metadata.menuitem == 'prefix')? "selected" : "", href="/filter/prefix.html") prefix
				li: a(class=(page.metadata.menuitem == 'query')? "selected" : "", href="/filter/query.html") query
				li: a(class=(page.metadata.menuitem == 'range')? "selected" : "", href="/filter/range.html") range
				li: a(class=(page.metadata.menuitem == 'script')? "selected" : "", href="/filter/script.html") script
				li: a(class=(page.metadata.menuitem == 'term')? "selected" : "", href="/filter/term.html") term
				li: a(class=(page.metadata.menuitem == 'terms')? "selected" : "", href="/filter/terms.html") terms
				li: a(class=(page.metadata.menuitem == 'nested')? "selected" : "", href="/filter/nested.html") nested
		- else 
			li: a(class=(page.metadata.menuitem == 'and')? "selected" : "", href="/filter/and.html") + Filter DSL
