aside
    ul#top_left_menu
        h4 External
        li
          a(href='http://www.elasticsearch.org', target='_blank') Elasticsearch Docs
        li
          a(href='http://mpdreamz.mit-license.org/', target='_blank') MIT license
