<RunSettings>
	<RunConfiguration>
		<CollectSourceInformation>true</CollectSourceInformation>
	</RunConfiguration>
	<LoggerRunSettings>
		<Loggers>
			<Logger friendlyName="Console" enabled="True"/>
			<Logger friendlyName="pretty" enabled="False"/>
		</Loggers>
	</LoggerRunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>cobertura</Format>
					<UseSourceLink>true</UseSourceLink>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
