[*.cs]
dotnet_style_qualification_for_field = true:none
dotnet_style_qualification_for_property = true:none
dotnet_style_qualification_for_method = true:none
dotnet_style_qualification_for_event = true:none

csharp_style_expression_bodied_methods = false:none
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_operators = false:none
csharp_style_expression_bodied_properties = false:none
csharp_style_expression_bodied_indexers = false:none
csharp_style_expression_bodied_accessors = false:none

csharp_style_var_for_built_in_types = false:none
csharp_style_var_when_type_is_apparent = false:none
csharp_style_var_elsewhere = false:none

dotnet_style_require_accessibility_modifiers = for_non_interface_members:none
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:none

dotnet_style_predefined_type_for_locals_parameters_members = false:none
dotnet_style_predefined_type_for_member_access = false:none

dotnet_style_readonly_field = false:none

resharper_inconsistent_naming_highlighting=do_not_show
resharper_remove_redundant_braces_highlighting=do_not_show
resharper_redundant_type_arguments_of_method_highlighting=do_not_show

resharper_redundant_cast_highlighting=do_not_show
resharper_redundant_explicit_array_creation_highlighting=do_not_show
resharper_redundant_jump_statement_highlighting=do_not_show
resharper_redundant_explicit_array_size_highlighting=do_not_show
resharper_redundant_assignment_highlighting=do_not_show

resharper_redundant_assignment_highlighting=do_not_show

disable_formatter=true
