[*.cs]
resharper_xUnit_1013_highlighting=do_not_show
resharper_unused_variable_highlighting=do_not_show
resharper_redundant_anonymous_type_property_name_highlighting=do_not_show
resharper_c_sharp_warnings_cs1587_highlighting=do_not_show
