{{menu_item}}
<ul id="top_left_menu">
	<h4>Guide</h4>
    <li><a href="/">Introduction</a></li>
    <li><a href="/connection">Connecting</a></li>
    <li><a href="/connection">Searching</a></li>
    <li><a href="/connection">Query DSL</a></li>
   <h4>Core</h4>
   <ul>
		<li><a href="/introduction">Index</a></li>
		<li><a href="/introduction">Delete</a></li>
		<li><a href="/introduction">Get</a></li>
		<li><a href="/introduction">Multi Get</a></li>
		<li><a href="/introduction">Update</a></li>
		<li><a href="/introduction">Search</a></li>
		<li><a href="/introduction">Multi Search</a></li>
		<li><a href="/introduction">Percolate</a></li>
		<li><a href="/introduction">Bulk</a></li>
		<li><a href="/introduction">Count</a></li>
		<li><a href="/introduction">Delete By Query</a></li>
		<li><a href="/introduction">More Like This</a></li>
	</ul>
	<h4>Indices</h4>
   <ul>
		<li><a href="">Aliases</a></li>
		<li><a href="">Analyze</a></li>
		<li><a href="">Create Index</a></li>
		<li><a href="">Delete Index</a></li>
		<li><a href="">Open/Close Index</a></li>
		<li><a href="">Get Settings</a></li>
		<li><a href="">Get Mapping</a></li>
		<li><a href="">Put Mapping</a></li>
		<li><a href="">Delete Mapping</a></li>
		<li><a href="">Refresh</a></li>
		<li><a href="">Optimize</a></li>
		<li><a href="">Flush</a></li>
		<li><a href="">Snapshot</a></li>
		<li><a href="">Update Settings</a></li>
		<li><a href="">Templates</a></li>
		<li><a href="">Stats</a></li>
		<li><a href="">Status</a></li>
		<li><a href="">Segments</a></li>
		<li><a href="">Clear Cache</a></li>
		<li><a href="">Indices Exists</a></li>
	</ul>
	<h4>Cluster</h4>
	<ul>
		<li><a href="">Health</a></li>
		<li><a href="">State</a></li>
		<li><a href="">Update Settings</a></li>
		<li><a href="">Nodes Info</a></li>
		<li><a href="">Nodes Stats</a></li>
		<li><a href="">Nodes Shutdown</a></li>

	</ul>
</ul>
