<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoPoco" version="1.0.0.0" targetFramework="net40" />
  <package id="FakeItEasy" version="1.18.0" targetFramework="net45" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net40" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>