<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsQuery" version="1.3.4" targetFramework="net45" />
  <package id="FubuCore" version="1.0.0.225" targetFramework="net45" />
  <package id="FubuCsProjFile" version="1.1.0.83" targetFramework="net45" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="RazorMachine" version="2.6.1" targetFramework="net45" />
  <package id="ShellProgressBar" version="1.0.0.0" targetFramework="net45" />
  <package id="YamlDotNet" version="3.0.0" targetFramework="net45" />
</packages>