<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nest.Tests.MockData.TestData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nest.Tests.MockData.TestData>
            <setting name="Host" serializeAs="String">
                <value>127.0.0.1.</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9200</value>
            </setting>
            <setting name="DefaultIndex" serializeAs="String">
                <value>nest_test_data</value>
            </setting>
            <setting name="MaximumAsyncConnections" serializeAs="String">
                <value>20</value>
            </setting>
        </Nest.Tests.MockData.TestData>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
