<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net45" />
  <package id="Autofac.Extras.FakeItEasy" version="3.0.2" targetFramework="net45" />
  <package id="FakeItEasy" version="1.18.0" targetFramework="net45" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>