html
	head
		title Nest - #{page.title}
		meta(http-equiv='cache-control',content='no-cache')
		meta(http-equiv='pragma',content='no-cache')
		meta(http-equiv='content-type',content='text/html;charset=utf-8')
		meta(http-equiv='expires',content='0')
		meta(name='description',content='elasticsearch')
		meta(name='keywords',content='nest, elasticsearch, .net, client')
		meta(name='author',content='martijn laarman')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		| !{ livereloadScript }
		| <script src="/scripts/html5shiv.js"></script>
		link(rel='stylesheet',type='text/css',href='/styles/normalize.css')
		link(rel='stylesheet',type='text/css',href='/styles/layout.css')
		link(rel='stylesheet',type='text/css',href='/styles/pygments.css')
		link(rel='stylesheet',type='text/css',href='/styles/pygments.css')
		link(rel='stylesheet',type='text/css',href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(href='//fonts.googleapis.com/css?family=Ubuntu+Mono|Open+Sans',rel='stylesheet',type='text/css')
		link(href='/prettify/prettify.css',type='text/css',rel='stylesheet')
		link(href='/prettify/sunburst.css',type='text/css',rel='stylesheet')
		script(src='//code.jquery.com/jquery.min.js', type='text/javascript')
		script(type='text/javascript', src='/prettify/prettify.js')
		script(type='text/javascript', src='/prettify/fix_code_tags.js')
	body
		div.wrapper
			header.header
				.actions
					iframe(src='//ghbtns.com/github-btn.html?user=elasticsearch&repo=elasticsearch-net&type=fork&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='95', height='20')
					iframe(src='//ghbtns.com/github-btn.html?user=elasticsearch&repo=elasticsearch-net&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='110', height='20')
				-if (page.getUrl().indexOf('elasticsearch-net') > -1)
					img(src='/images/elasticsearch-net-nuget-icon.png' width='48' height='48')
					h1 Elasticsearch.Net 
					p Documentation
				-else if (page.getUrl().indexOf('nest/') > -1)
					img(src='/images/nest-nuget-icon.png' width='48' height='48')
					h1.nest NEST
					p Documentation
				-else
					img(src='/images/elasticsearch-net-nuget-icon.png' width='48' height='48')
					h1 Elasticsearch.Net & NEST
					p Documentation

			.divide
			div.middle
				div.container
					main.content
						!= page.html
						block content
				aside.left-sidebar
					include side_menu

			footer.footer


