aside#menu
	ul
		li
			h4
				a(class=(page.metadata.menuitem == 'introduction')? "selected" : "",href='/') Home
				a(class=(page.metadata.menuitem == 'contributing')? "selected" : "",href='/contributing.html') Contributing
				a(class=(page.metadata.menuitem == 'building')? "selected" : "",href='/building.html') Building
				a(class=(page.metadata.menuitem == 'breaking-changes')? "selected" : "",href='/breaking-changes.html') 1.0 Breaking Changes
				a(class=(page.metadata.menuitem == 'release-notes')? "selected" : "",href='https://github.com/elasticsearch/elasticsearch-net/releases') Release Notes

	ul#elasticsearch-net
		h4.title Elasticsearch.Net
		ul
			li: a(class=(page.metadata.menuitem == 'esnet-quick-start')? "selected" : "", href="/elasticsearch-net/quick-start.html") Quick Start
			li: a(class=(page.metadata.menuitem == 'esnet-connecting')? "selected" : "", href="/elasticsearch-net/connecting.html") Connecting
			li: a(class=(page.metadata.menuitem == 'esnet-security')? "selected" : "", href="/elasticsearch-net/security.html") Security
			li: a(class=(page.metadata.menuitem == 'esnet-cluster-failover')? "selected" : "", href="/elasticsearch-net/cluster-failover.html") Cluster failover
			li: a(class=(page.metadata.menuitem == 'esnet-building-requests')? "selected" : "", href="/elasticsearch-net/building-requests.html") Building requests
			li: a(class=(page.metadata.menuitem == 'esnet-handling-responses')? "selected" : "", href="/elasticsearch-net/handling-responses.html") Handling responses
			li: a(class=(page.metadata.menuitem == 'esnet-errors')? "selected" : "", href="/elasticsearch-net/errors.html") Errors

	ul#nest
		h4.title NEST
		ul
			li: a(class=(page.metadata.menuitem == 'quick-start')? "selected" : "", href="/nest/quick-start.html") Quick Start
			li: a(class=(page.metadata.menuitem == 'connecting')? "selected" : "", href="/nest/connecting.html") Connecting
			li: a(class=(page.metadata.menuitem == 'index-type-inference')? "selected" : "", href="/nest/index-type-inference.html") Type/Index Inference
			li: a(class=(page.metadata.menuitem == 'handling-responses')? "selected" : "", href="/nest/handling-responses.html") Handling responses
			li: a(class=(page.metadata.menuitem == 'writing-queries')? "selected" : "", href="/nest/writing-queries.html") Writing queries
			li: a(class=(page.metadata.menuitem == 'tips-tricks')? "selected" : "", href="/nest/tips-tricks.html") Tips & Tricks
		- if (page.metadata.menusection == 'core' )
			h4
				i.fa.fa-chevron-down
				| Core
			ul
				li.sub: a(class=(page.metadata.menuitem == 'index')? "selected" : "normal", href="/nest/core/") Index
				li.sub: a(class=(page.metadata.menuitem == 'delete')? "selected" : "", href="/nest/core/delete.html") Delete
				li.sub: a(class=(page.metadata.menuitem == 'delete-by-query')? "selected" : "", href="/nest/core/delete-by-query.html") Delete By Query
				li.sub: a(class=(page.metadata.menuitem == 'get')? "selected" : "", href="/nest/core/get.html") Get
				li.sub: a(class=(page.metadata.menuitem == 'multi-get')? "selected" : "", href="/nest/core/multi-get.html") Multi Get
				li.sub: a(class=(page.metadata.menuitem == 'update')? "selected" : "", href="/nest/core/update.html") Update
				li.sub: a(class=(page.metadata.menuitem == 'search')? "selected" : "", href="/nest/core/search.html") Search
				li.sub: a(class=(page.metadata.menuitem == 'multi-search')? "selected" : "", href="/nest/core/multi-search.html") Multi Search
				li.sub: a(class=(page.metadata.menuitem == 'percolate')? "selected" : "", href="/nest/core/percolate.html") Percolate
				li.sub: a(class=(page.metadata.menuitem == 'bulk')? "selected" : "", href="/nest/core/bulk.html") Bulk
				li.sub: a(class=(page.metadata.menuitem == 'count')? "selected" : "", href="/nest/core/count.html") Count
				li.sub: a(class=(page.metadata.menuitem == 'more-like-this')? "selected" : "", href="/nest/core/more-like-this.html") More Like This
		- else 
			li
				h4: a(class=(page.metadata.menuitem == 'index')? "selected" : "", href="/nest/core/")
					i.fa.fa-chevron-right
					| Core
		- if (page.metadata.menusection == 'indices' )
			h4
				i.fa.fa-chevron-down
				| Indices
			ul
				li.sub: a(class=(page.metadata.menuitem == 'aliases')? "selected" : "", href="/nest/indices/aliases.html") Aliases
				li.sub: a(class=(page.metadata.menuitem == 'analyze')? "selected" : "", href="/nest/indices/analyze.html") Analyze
				li.sub: a(class=(page.metadata.menuitem == 'create-indices')? "selected" : "", href="/nest/indices/create-indices.html") Create Index
				li.sub: a(class=(page.metadata.menuitem == 'delete-indices')? "selected" : "", href="/nest/indices/delete-indices.html") Delete Index
				li.sub: a(class=(page.metadata.menuitem == 'open-close')? "selected" : "", href="/nest/indices/open-close.html") Open/Close Index
				li.sub: a(class=(page.metadata.menuitem == 'get-settings')? "selected" : "", href="/nest/indices/get-settings.html") Get Settings
				li.sub: a(class=(page.metadata.menuitem == 'get-mapping')? "selected" : "", href="/nest/indices/get-mapping.html") Get Mapping
				li.sub: a(class=(page.metadata.menuitem == 'put-mapping')? "selected" : "", href="/nest/indices/put-mapping.html") Put Mapping
				li.sub: a(class=(page.metadata.menuitem == 'delete-mapping')? "selected" : "", href="/nest/indices/delete-mapping.html") Delete Mapping
				li.sub: a(class=(page.metadata.menuitem == 'refresh')? "selected" : "", href="/nest/indices/refresh.html") Refresh
				li.sub: a(class=(page.metadata.menuitem == 'optimize')? "selected" : "", href="/nest/indices/optimize.html") Optimize
				li.sub: a(class=(page.metadata.menuitem == 'flush')? "selected" : "", href="/nest/indices/flush.html") Flush
				li.sub: a(class=(page.metadata.menuitem == 'snapshot')? "selected" : "", href="/nest/indices/snapshot.html") Snapshot
				li.sub: a(class=(page.metadata.menuitem == 'update-settings')? "selected" : "", href="/nest/indices/update-settings.html") Update Settings
				li.sub: a(class=(page.metadata.menuitem == 'templates')? "selected" : "", href="/nest/indices/templates.html") Templates
				li.sub: a(class=(page.metadata.menuitem == 'stats')? "selected" : "", href="/nest/indices/stats.html") Stats
				li.sub: a(class=(page.metadata.menuitem == 'status')? "selected" : "", href="/nest/indices/status.html") Status
				li.sub: a(class=(page.metadata.menuitem == 'segments')? "selected" : "", href="/nest/indices/segments.html") Segments
				li.sub: a(class=(page.metadata.menuitem == 'clear-cache')? "selected" : "", href="/nest/indices/clear-cache.html") Clear Cache
				li.sub: a(class=(page.metadata.menuitem == 'indices-exists')? "selected" : "", href="/nest/indices/indices-exists.html") Indices Exists
		- else 
			li
				h4: a(class=(page.metadata.menuitem == 'aliases')? "selected" : "", href="/nest/indices/aliases.html") 
					i.fa.fa-chevron-right
					| Indices
		- if (page.metadata.menusection == 'cluster' )
			h4
				i.fa.fa-chevron-down
				| Cluster
			ul
				li.sub: a(class=(page.metadata.menuitem == 'health')? "selected" : "", href="/nest/cluster/health.html") Health
				li.sub: a(class=(page.metadata.menuitem == 'state')? "selected" : "", href="/nest/cluster/state.html") State
				li.sub: a(class=(page.metadata.menuitem == 'update-settings')? "selected" : "", href="/nest/cluster/update-settings.html") Update Settings
				li.sub: a(class=(page.metadata.menuitem == 'nodes-info')? "selected" : "", href="/nest/cluster/nodes-info.html") Nodes Info
				li.sub: a(class=(page.metadata.menuitem == 'nodes-stats')? "selected" : "", href="/nest/cluster/nodes-stats.html") Nodes Stats
				li.sub: a(class=(page.metadata.menuitem == 'nodes-shutdown')? "selected" : "", href="/nest/cluster/nodes-shutdown.html") Nodes Shutdown
		- else 
			li
				h4: a(class=(page.metadata.menuitem == 'health')? "selected" : "", href="/nest/cluster/health.html") 
					i.fa.fa-chevron-right
					| Cluster
		- if (page.metadata.menusection == 'search' )
			h4
				i.fa.fa-chevron-down
				| Search
			ul
				li.sub: a(class=(page.metadata.menuitem == 'basics')? "selected" : "", href="/nest/search/basics.html") Basic parameters
				li.sub: a(class=(page.metadata.menuitem == 'sort')? "selected" : "", href="/nest/search/sort.html") Sort
				li.sub: a(class=(page.metadata.menuitem == 'highlighting')? "selected" : "", href="/nest/search/highlighting.html") Highlighting
				li.sub: a(class=(page.metadata.menuitem == 'fields')? "selected" : "", href="/nest/search/fields.html") Fields
				li.sub: a(class=(page.metadata.menuitem == 'script-fields')? "selected" : "", href="/nest/search/script-fields.html") Script Fields
				li.sub: a(class=(page.metadata.menuitem == 'preference')? "selected" : "", href="/nest/search/preference.html") Preference
				li.sub: a(class=(page.metadata.menuitem == 'named-filters')? "selected" : "", href="/nest/search/named-filters.html") Named Filters
				li.sub: a(class=(page.metadata.menuitem == 'search-type')? "selected" : "", href="/nest/search/search-type.html") Search Type
				li.sub: a(class=(page.metadata.menuitem == 'index-boost')? "selected" : "", href="/nest/search/index-boost.html") Index Boost
				li.sub: a(class=(page.metadata.menuitem == 'scroll')? "selected" : "", href="/nest/search/scroll.html") Scroll
				li.sub: a(class=(page.metadata.menuitem == 'explain')? "selected" : "", href="/nest/search/explain.html") Explain
				li.sub: a(class=(page.metadata.menuitem == 'version')? "selected" : "", href="/nest/search/version.html") Version
		- else 
			li
				h4: a(class=(page.metadata.menuitem == 'basics')? "selected" : "", href="/nest/search/basics.html")
					i.fa.fa-chevron-right
					| Search
		- if (page.metadata.menusection == 'aggregations' )
			h4: a(class=(page.metadata.menuitem == 'avg')? "selected" : "", href="/nest/aggregations/handling.html")
				i.fa.fa-chevron-down
				| Aggregations
			ul
				li.sub: a(class=(page.metadata.menuitem == 'avg')? "selected" : "", href="/nest/aggregations/avg.html") Avg
				li.sub: a(class=(page.metadata.menuitem == 'cardinality')? "selected" : "", href="/nest/aggregations/cardinality.html") Cardinality
				li.sub: a(class=(page.metadata.menuitem == 'date-histogram')? "selected" : "", href="/nest/aggregations/date-histogram.html") Date Histogram
				li.sub: a(class=(page.metadata.menuitem == 'date-range')? "selected" : "", href="/nest/aggregations/date-range.html") Date Range
				li.sub: a(class=(page.metadata.menuitem == 'extended-stats')? "selected" : "", href="/nest/aggregations/extended-stats.html") Extended Stats
				li.sub: a(class=(page.metadata.menuitem == 'filter')? "selected" : "", href="/nest/aggregations/filter.html") Filter
				li.sub: a(class=(page.metadata.menuitem == 'geo-bounds')? "selected" : "", href="/nest/aggregations/geo-bounds.html") Geo Bounds
				li.sub: a(class=(page.metadata.menuitem == 'geo-distance')? "selected" : "", href="/nest/aggregations/geo-distance.html") Geo Distance
				li.sub: a(class=(page.metadata.menuitem == 'geohash-grid')? "selected" : "", href="/nest/aggregations/geohash-grid.html") Geohash Grid
				li.sub: a(class=(page.metadata.menuitem == 'global')? "selected" : "", href="/nest/aggregations/global.html") Global
				li.sub: a(class=(page.metadata.menuitem == 'histogram')? "selected" : "", href="/nest/aggregations/histogram.html") Histogram
				li.sub: a(class=(page.metadata.menuitem == 'ipv4')? "selected" : "", href="/nest/aggregations/ipv4.html") IPv4 Range
				li.sub: a(class=(page.metadata.menuitem == 'max')? "selected" : "", href="/nest/aggregations/max.html") Max
				li.sub: a(class=(page.metadata.menuitem == 'min')? "selected" : "", href="/nest/aggregations/min.html") Min
				li.sub: a(class=(page.metadata.menuitem == 'missing')? "selected" : "", href="/nest/aggregations/missing.html") Missing
				li.sub: a(class=(page.metadata.menuitem == 'percentiles')? "selected" : "", href="/nest/aggregations/percentiles.html") Percentiles
				li.sub: a(class=(page.metadata.menuitem == 'percentile-ranks')? "selected" : "", href="/nest/aggregations/percentile-ranks.html") Percentiles Ranks
				li.sub: a(class=(page.metadata.menuitem == 'range')? "selected" : "", href="/nest/aggregations/range.html") Range
				li.sub: a(class=(page.metadata.menuitem == 'nested')? "selected" : "", href="/nest/aggregations/nested.html") Nested
				li.sub: a(class=(page.metadata.menuitem == 'reverse-nested')? "selected" : "", href="/nest/aggregations/reverse-nested.html") Reverse Nested
				li.sub: a(class=(page.metadata.menuitem == 'significant-terms')? "selected" : "", href="/nest/aggregations/significant-terms.html") Significant Terms
				li.sub: a(class=(page.metadata.menuitem == 'stats')? "selected" : "", href="/nest/aggregations/stats.html") Stats
				li.sub: a(class=(page.metadata.menuitem == 'sum')? "selected" : "", href="/nest/aggregations/sum.html") Sum
				li.sub: a(class=(page.metadata.menuitem == 'terms')? "selected" : "", href="/nest/aggregations/terms.html") Terms
				li.sub: a(class=(page.metadata.menuitem == 'top-hits')? "selected" : "", href="/nest/aggregations/top-hits.html") Top Hits
				li.sub: a(class=(page.metadata.menuitem == 'value-count')? "selected" : "", href="/nest/aggregations/value-count.html") Value Count
		- else 
			li 
				h4: a(class=(page.metadata.menuitem == 'avg')? "selected" : "", href="/nest/aggregations/handling.html")
					i.fa.fa-chevron-right
					| Aggregations
		- if (page.metadata.menusection == 'facets' )
			h4: a(class=(page.metadata.menuitem == 'handling')? "selected" : "", href="/nest/facets/handling.html")
				i.fa.fa-chevron-right
				| Facets
			ul
				li.sub: a(class=(page.metadata.menuitem == 'terms')? "selected" : "", href="/nest/facets/terms.html") Terms
				li.sub: a(class=(page.metadata.menuitem == 'range')? "selected" : "", href="/nest/facets/range.html") Range
				li.sub: a(class=(page.metadata.menuitem == 'histogram')? "selected" : "", href="/nest/facets/histogram.html") Histogram
				li.sub: a(class=(page.metadata.menuitem == 'date-histogram')? "selected" : "", href="/nest/facets/date-histogram.html") Date Histogram
				li.sub: a(class=(page.metadata.menuitem == 'filter')? "selected" : "", href="/nest/facets/filter.html") Filter
				li.sub: a(class=(page.metadata.menuitem == 'query')? "selected" : "", href="/nest/facets/query.html") Query
				li.sub: a(class=(page.metadata.menuitem == 'statistical')? "selected" : "", href="/nest/facets/statistical.html") Statistical
				li.sub: a(class=(page.metadata.menuitem == 'term-stats')? "selected" : "", href="/nest/facets/term-stats.html") Terms Stats
				li.sub: a(class=(page.metadata.menuitem == 'geo-distance')? "selected" : "", href="/nest/facets/geo-distance.html") Geo Distance
		- else 
			li 
				h4: a(class=(page.metadata.menuitem == 'handling')? "selected" : "", href="/nest/facets/handling.html")
					i.fa.fa-chevron-right
					| Facets