<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="CodeGeneration/CodeGeneration.LowLevelClient/packages.config" />
  <repository path="CodeGeneration/CodeGeneration.YamlTestsRunner/packages.config" />
  <repository path="Connections/Elasticsearch.Net.Connection.Thrift/packages.config" />
  <repository path="Elasticsearch.Net/packages.config" />
  <repository path="Nest/packages.config" />
  <repository path="Profiling/Profiling.Indexing/packages.config" />
  <repository path="Profiling/Profiling.InMemoryConnection/packages.config" />
  <repository path="Serialization/Elasticsearch.Net.JsonNET/packages.config" />
  <repository path="Tests/Elasticsearch.Net.Integration.Yaml/packages.config" />
  <repository path="Tests/Elasticsearch.Net.Tests.Unit/packages.config" />
  <repository path="Tests/Nest.Tests.Integration/packages.config" />
  <repository path="Tests/Nest.Tests.MockData/packages.config" />
  <repository path="Tests/Nest.Tests.Unit/packages.config" />
</repositories>