<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\HackerNews.Indexer\packages.config" />
  <repository path="..\src\Nest.Connection.Thrift\packages.config" />
  <repository path="..\src\Nest.Dsl.Factory\packages.config" />
  <repository path="..\src\Nest.ProfilerHelper\packages.config" />
  <repository path="..\src\Nest.Tests.Integration\packages.config" />
  <repository path="..\src\Nest.Tests.MockData\packages.config" />
  <repository path="..\src\Nest.Tests.Unit\packages.config" />
  <repository path="..\src\Nest\packages.config" />
  <repository path="..\src\ProtocolLoadTest\packages.config" />
</repositories>