<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\HackerNews.Indexer\packages.config" />
  <repository path="..\src\Nest.Tests.FactoryDsl\packages.config" />
  <repository path="..\src\Nest.Tests.Integration\packages.config" />
  <repository path="..\src\Nest.Tests.MockData\packages.config" />
  <repository path="..\src\Nest.Tests.Unit\packages.config" />
  <repository path="..\src\Nest\packages.config" />
</repositories>