<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\CodeGeneration\CodeGeneration.LowLevelClient\packages.config" />
  <repository path="..\src\CodeGeneration\CodeGeneration.YamlTestsRunner\packages.config" />
  <repository path="..\src\Connections\Elasticsearch.Net.Connection.HttpClient\packages.config" />
  <repository path="..\src\Connections\Elasticsearch.Net.Connection.Thrift\packages.config" />
  <repository path="..\src\Elasticsearch.Net.Tests.Unit\packages.config" />
  <repository path="..\src\Elasticsearch.Net\packages.config" />
  <repository path="..\src\Nest\packages.config" />
  <repository path="..\src\Profiling\Profiling.Indexing\packages.config" />
  <repository path="..\src\Profiling\Profiling.InMemoryConnection\packages.config" />
  <repository path="..\src\Serialization\Elasticsearch.Net.JsonNET\packages.config" />
  <repository path="..\src\Serialization\Elasticsearch.Net.ServiceStackText\packages.config" />
  <repository path="..\src\Tests\Elasticsearch.Net.Integration.Yaml\packages.config" />
  <repository path="..\src\Tests\Elasticsearch.Net.Tests.Unit\packages.config" />
  <repository path="..\src\Tests\Nest.Tests.Integration\packages.config" />
  <repository path="..\src\Tests\Nest.Tests.MockData\packages.config" />
  <repository path="..\src\Tests\Nest.Tests.Unit\packages.config" />
</repositories>