@using ApiGenerator
@using ApiGenerator.Domain.Code.HighLevel.Methods;
@inherits CodeTemplatePage<MethodSyntaxBase>
@{
	var syntax = Model;
}
/// <summary>
/// @Raw(syntax.XmlDocSummary)
/// @Raw("<para></para>")
/// <a href="@syntax.DocumentationLink">@syntax.DocumentationLink</a>
/// </summary>
