[*.cs]
resharper_remove_redundant_braces_highlighting=do_not_show
resharper_redundant_cast_highlighting=do_not_show
resharper_redundant_jump_statement_highlighting=do_not_show
resharper_redundant_explicit_array_creation_highlighting=do_not_show
resharper_redundant_unsafe_context_highlighting=do_not_show
resharper_redundant_empty_switch_section_highlighting=do_not_show
resharper_redundant_overflow_checking_context_highlighting=do_not_show
resharper_redundant_explicit_array_size_highlighting=do_not_show